/* - Sitewide Styles - */
html, body {
	height: 100%;
	max-width: 100%;
	width: 1200px;
	margin-left: auto;
	margin-right: auto;
	font-family: 'Roboto', sans-serif;
	/* Location of the image */
	background-image: url(img/background.png);
	/* Background image is centered vertically and horizontally at all times */
	background-position: center center;
	/* Background image doesn't tile */
	background-repeat: no-repeat;
	/* Background image is fixed in the viewport so that it doesn't move when 
	   the content's height is greater than the image's height */
	background-attachment: fixed;
	/* This is what makes the background image rescale based
	   on the container's size */
	background-size: cover;
	background-color: #182029;
}

header {
	text-align: right;
	text-shadow: 2px 1px black;
	color: #fff;
	display: flex;
}

hr {
	height: 2px;
	color: #fff;
	background: #fff;
	margin-bottom: 20px;
	box-shadow: 2px 1px black;
}


/* - Hyperlink Styling - */
a:link, a:visited {
	color: #fff;
}

a:hover {
	color: lightgray;
}


/* - Header | Socials Styling - */
.social-icons img {
	height: 40px;
	width: 40px;
	text-shadow: 2px 2px black;
}

.navigation-link {
	text-decoration: none;
}

.name, .profession {
	margin: 0;
}

.name {
	font-size: 65px;
	color: #fff;
}

.profession {
	font-size: 30px;
	padding-bottom: 10px;
	color: #fff;
}


/* - Main Block Image - */
.main-image {
	width: 100%;
}


/* - Portfolio | Projects Styling - */
.work-title {
	font-size: 35px;
	color: #fff;
	text-shadow: 2px 2px black;
	margin-left: 3%;
}

.projects-container {
	width: 100%;
	margin-bottom: 30px;
	text-align: center;
	color: #fff;
	text-decoration: none;
	display: flex;
	flex-wrap: wrap;
}

.project-1, .project-2, .project-3 {
	width: 33%;
	margin: 0 0 2px 2px;
}

.projects-container img {
	max-width: 100%;
}

.projects-container p {
	text-shadow: 2px 2px black;
	margin: 5px;
	font-size: 25px;
}

.logo {
	text-align: left;
}

.logo, .title-info {
	width: 50%;
}


/* - Media Queries | Small Devices - */
@media screen and (max-width: 450px) {
	header {
		text-align: center;
		display: block;
	}

	hr, .main-block {
		width: 90%;
		margin-left: auto;
		margin-right: auto;
	}

	.logo, .title-info {
		text-align: center;
		width: auto;
	}

	.name {
		font-size: 50px;
	}

	.profession {
		font-size: 25px;
	}

	.projects-container {
		width: 90%;
		margin-left: auto;
		margin-right: auto;
	}

	.project-1, .project-2, .project-3 {
		width: 90%;
		margin-bottom: 15px;
		margin-left: auto;
		margin-right: auto;
	}

	.work-title {
		text-align: center;
		margin-left: 0;
	}
}


/* - Media Queries | Medium Devices - */
@media screen and (min-width: 451px) and (max-width: 800px) {
	header {
		width: 90%;
		margin-right: auto;
		margin-left: auto;
	}

	hr, .main-block {
		width: 90%;
		margin-left: auto;
		margin-right: auto;
	}

	.logo, .title-info {
		text-align: right;
		width: 50%;
	}

	.name {
		font-size: 40px;
	}

	.profession {
		font-size: 20px;
	}

	.projects-container {
		width: 90%;
		margin-left: auto;
		margin-right: auto;
	}

	.project-1, .project-2, .project-3 {
		width: 90%;
		margin-bottom: 55px;
		margin-left: auto;
		margin-right: auto;
	}

	.work-title {
		text-align: center;
		margin-left: 0;
	}

	.logo {
		text-align: left;
	}

	.logo img {
		width: 35%;
	}
}


/* - Media Queries | Desktop Devices + Larger - */
@media screen and (min-width: 801px) and (max-width: 1200px) {
	header {
		width: 90%;
		margin-right: auto;
		margin-left: auto;
	}

	hr, .main-block {
		width: 90%;
		margin-left: auto;
		margin-right: auto;
	}

	.logo, .title-info {
		text-align: right;
		width: 50%;
	}

	.projects-container {
		width: 90%;
		margin-left: auto;
		margin-right: auto;
	}

	.project-1, .project-2, .project-3 {
		width: 90%;
		margin-bottom: 55px;
		margin-left: auto;
		margin-right: auto;
	}

	.work-title {
		text-align: center;
		margin-left: 0;
	}

	.logo {
		text-align: left;
	}

	.logo img {
		width: 35%;
	}
}