body {
	background-color: #393939;
	font-family: 'Fjalla One', sans-serif;
}

.center {
    text-align: center;
}
a:hover {
    color: #228FFF;
	background-color: transparent;
	text-decoration: none;
}
a:active {
	color: #26FFDD;
	background-color: transparent;
	text-decoration: none;
}
a:link {
	color: #26FFDD;
	background-color: transparent;
	text-decoration: none;
}
a:visited {
	color: #26FFDD;
	background-color: transparent;
	text-decoration: none;
}

hr {
	color: #FFFFFF;
	text-align: center;
	width: 55%;
}
