html {
    height: 100%;
}

body {
	font-family: 'Fjalla One', sans-serif;
    background-color: gray;
	background-image: url('../img/background3.jpg');
	background-repeat:no-repeat;
    background-size: 1920px 1080px;
    background-position:center;
}

a:active,
a:link,
a:visited,
a:hover {
	color: #fff;
	text-decoration: none;
}

hr {
	text-align: center;
	width: 10%;
}
.col-centered {
    float: none;
    margin: 0 auto;
}

.my-stuff,
.my-name {
	color: #fff;
	text-align: center;
  text-shadow: 4px 4px #000;
}

.my-name h1 {
	font-size: 80px;
	margin: 0;
}
.my-name h2 {
	font-size: 40px;
	margin: 0;
}

.my-stuff {
    margin-top: 40px;
}

a {
    transition: all .3s ease-in-out;
}

.header {
	height: 40px;
}

.navigation img {
	color: #fff;
	font-size: 0px;
	padding-right: 20px;
    height: 30px;
    width: 30px;
}

.my-name {
	display: flex;
	height: 600px;
    align-items: center;
    justify-content: center;
}
.my-name-alignment {
    max-width: 50%;
	text-align: center;
}
