body {
  text-align: center;
  background-image: url("../img/background.jpeg");
	/* Background image is centered vertically and horizontally at all times */
	background-position: center center;
	/* Background image doesn't tile */
	background-repeat: no-repeat;
	/* Background image is fixed in the viewport so that it doesn't move when 
	   the content's height is greater than the image's height */
	background-attachment: fixed;
	/* This is what makes the background image rescale based
	   on the container's size */
	background-size: cover;
	background-color: #182029;
}

h1 {
  font-family: Monoton;
  font-size: 70px;
  margin: 0.2em;
}

h2 {
  margin: 1em 0 0.25em;
}

h2:first-of-type {
  margin-top: 0.5em;
}

table,
tr,
td {
  border: 1px solid black;
}

table {
  border-collapse: collapse;
  margin: 0 auto;
}

tr {
  height: 20px;
}

td {
  width: 20px;
  background-color: #fff;
}

input[type="number"] {
  width: 6em;
}

.page-title {
  font-family: 'Finger Paint', cursive;
}
